/* Base */
:root {
    font-family: 'Inter', 'Avenir', system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #0a0a0a;
    color: #fdfdfd;
}

main {
    padding: 20px;
}

.header {
    width: 100%;
    max-width: 650px;
    margin: 30px auto;
    padding: 0px auto;
}

.visualization {
    width: 100%;
    max-width: 1100px;
    margin: 30px auto 0 auto;
    padding: 0px auto;
}

.header span {
    display: block;
    text-align: center;
}

h1 {
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 38px;
    margin: 10px 0;
    font-weight: 700;
    max-width: 1100px;
}

h2 span {
    font-weight: 300;
}

.description {
    font-size: 19px;
    margin-bottom: 14px;
    font-weight: 300;
    max-width: 1100px;
}

.external {
    color: #fdfdfd;
    text-decoration: none;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
}

.external:hover {
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer p {
    font-size: 12px;
    margin: 0;
}
/* Scatter */
button {
    background-color: #171717;
    color: #fdfdfd;
    border: none;
    border-radius: 5px;
    padding: 3px 8px;
    font-size: 14px;
    cursor: pointer;
    display: block;
    margin: 30px auto;
}

.axis text {
    font-size: 12px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #fdfdfd;
    shape-rendering: crispEdges;
}

.tooltip {
    position: absolute;
    background-color: #171717;
    color: #d4d4d4;
    padding: 5px;
    border-radius: 5px;
    font-size: 11px;
    pointer-events: none;
}

.legend-text {
    font-size: 12px;
    fill: #666;
    font-family: Arial, sans-serif;
}

/* Media queries */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.2em;
    }

    .header span {
        font-size: 1em;
    }

    .description {
        font-size: 1em;
    }

}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1em;
    }


    .header span {
        font-size: 0.9em;
    }

    .description {
        font-size: 0.9em;
    }
}
